:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --text-color: #000028;
  --button-color: #ff0070;
  --decoration-color: #ff0070;
  --button-color-hover: 255 0 112;
  --title-color: #db00ff;
  --section-title-color: #ff0070;
  --main-color: #f1b2ce;
}

.theme-dark .header__rec-sign {
  display: flex;
}
