:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --button-color: #353430;
  --decoration-color: #353430;
  --button-color-hover: 53 52 48;
  --title-color: #ffc2e6;
  --section-title-color: #353430;
  --main-color: #353430;
}

.theme-light .header__rec-sign {
  display: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --button-color: #353430;
    --decoration-color: #353430;
    --button-color-hover: 53 52 48;
    --title-color: #ffc2e6;
    --section-title-color: #353430;
    --main-color: #353430;
  }

  .header__rec-sign {
    display: none;
  }
}
