.page {
  background: var(--bg-color) var(--bg-image) center / cover no-repeat fixed;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--padding-of-blocks);
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  margin-block-end: var(--margin-end-header);
}

.header::before,
.header::after {
  content: '';
  display: block;
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  border: 1px solid #FF0070;
}

.header::before {
  border-bottom: transparent;
  border-left: transparent;
  top: var(--padding-of-blocks);
  right: var(--padding-of-blocks);
}

.header::after {
  border-top: transparent;
  border-right: transparent;
  bottom: var(--padding-of-blocks);
  left: var(--padding-of-blocks);
}

.header__rec-sign {
  position: absolute;
  top: var(--padding-of-blocks);
  right: var(--right-for-rec-sign);
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #FF0070;
}

.header__rec-sign::after {
  content: '';
  display: block;
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0px 0px 4px 2px currentColor;
  margin-inline-start: 10px;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: var(--margin-start-menu);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--menu-gap);
}

.header__theme-menu-button {
  color: #FF0070;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 3px 13px;
  line-height: 18px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  cursor: pointer;
  border: 1px solid rgb(255, 0, 112, 0.5);
}

.header__title {
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: #DB00FF;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__paragraph {
  justify-self: end;
  margin-block-end: var(--margin-end-paragraph);
}

.title-decor {
  font-weight: bold;
  background-color: var(--accent-color);
  color: var(--text-color);
}

.main {
  padding: var(--padding-of-blocks);
  color: #F1B2CE;
}

.section {
  display: grid;
  gap: var(--section-gap);
}

.section-what {
  display: grid;
  gap: 20px;
}

.section, .section-what:not(:last-child) {
  margin-block-end: 50px;
}

.section__title {
  font-weight: bold;
  font-size: 18px;
  color: #FF0070;
}

.section__list {
  display: grid;
  gap: 20px;
}

.section__list-what {
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
}

.section__item {
  display: grid;
  gap: 10px;
}

.section__item-what {
  align-self: start;
}

.section__subtitle {
  font-size: 18px;
}

.section__subtitle-what {

}

.link {
  text-decoration: none;
  text-shadow: 1.5px 1.5px 0 var(--accent-color);
}

@media (min-width: 768px) {
  :root {
    --padding-of-blocks: 20px;
    --right-for-rec-sign: 28.5px;
    --margin-end-header: 40px;
    --margin-start-menu: 111px;
    --margin-end-paragraph: 115px;
    --inline-size-paragraph: 47.5vw;
    --title-what-inline-size: 236px;
  }

  .header__title {
    margin-inline-start: calc(-1 * var(--padding-of-blocks));
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__paragraph {
    inline-size: var(--inline-size-paragraph);
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .section__title-what {
    max-inline-size: var(--title-what-inline-size);
  }

  .section, .section-what:not(:last-child) {
    margin-block-end: 80px;
  }
}

@media (min-width: 1024px) {
  :root {
    --margin-end-paragraph: 58px;
    --inline-size-paragraph: 48vw;
    --section-gap: 10px;
    --menu-gap: 9px;
    --margin-start-menu: 0;
    --title-what-inline-size: 315px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section__list-what {
    grid-template-columns: repeat(auto-fit, minmax(314px, 1fr));
  }
}