:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --text-color: #000028;

  --padding-of-blocks: 10px;
  --right-for-rec-sign: 19px;
  --margin-end-header: 30px;
  --margin-start-menu: 10px;
  --margin-end-paragraph: 13px;
  --section-gap: 20px;
  --menu-gap: 11px;
}
